h1 {
    text-align: center;
    margin: 2em 0 2em 0;
}

.login-main {
    height: clamp(30em, 70vh, 80vh);
}

.registration-content {
    max-width: 800px;
    margin: auto;
    margin-bottom: 10vh;

    .flex {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}

.policy-note {
    max-width: 350px;
    color: #333;
}

.policy-note > *:link, .policy-note > *:visited  {
    color: cornflowerblue;
}
