main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    font-size: 13px;
    margin: 3vw 5vh;
}

main * {
    font-size: 13px !important;
}
.p-column-header-content {
    text-align: left;
}

td {
    vertical-align: top;
    horiz-align: left;
}
.p-autocomplete {
    border: none;
}
.p-inputtext	{
    border: none !important;
    background-color: transparent !important;
    cursor: pointer !important;
}
.p-inputtext:hover	{
    outline: none !important;
    border: none !important;
}
.p-inputtext:enabled:focus	{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


/*
.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token {
    padding: 0 !important;
}
.p-autocomplete .p-autocomplete-multiple-container {
    padding: 0 !important;
}*/

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0 !important;
}

.p-autocomplete-input-token {
    font-size: 13px;
    max-height: 0;
}
.p-autocomplete-input-token:focus-within {
    max-height: 100px;
}

.column-groups {
    max-width: 9em;
}
.column-teachers {
    max-width: 20em;
}
.column-discipline {
    max-width: 20em;
}
.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
    padding: 0.175rem 0.55rem !important;
    margin-top: 0.1rem;
}

.table-empty-message > * {
    font-size: 30px !important;
}

.table-empty-message {
    margin: 10vw 1em;
    text-align: center;
}
