.workspace  {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    font-size: 13px;
    margin: 3vw 1vh;
}

.workspace * {
    font-size: 13px !important;
}
.workspace .p-column-header-content {
    text-align: left;
}

td {
    vertical-align: top;
    horiz-align: left;
}
.workspace .p-autocomplete {
    border: none;
}
.workspace .p-inputtext	{
    border: none !important;
    background-color: transparent !important;
    cursor: pointer !important;
}
.workspace .p-inputtext:hover	{
    outline: none !important;
    border: none !important;
}
.workspace .p-inputtext:enabled:focus	{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.workspace .p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


/*
.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token {
    padding: 0 !important;
}
.p-autocomplete .p-autocomplete-multiple-container {
    padding: 0 !important;
}*/

.workspace .p-datatable .p-datatable-tbody > tr > td {
    padding: 0 !important;
}

.workspace .p-autocomplete-input-token {
    font-size: 13px;
    max-height: 0;
}
.workspace .p-autocomplete-input-token:focus-within {
    max-height: 100px;
}

.column-groups {
    max-width: 9em;
}
.column-teachers {
    max-width: 20em;
}
.column-discipline {
    max-width: 20em;
}
.column-auditorium {
    max-width: 9em;
}
.column-schedule-section {
    max-width: 11em;
}
.workspace .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
    padding: 0.175rem 0.55rem !important;
    margin-top: 0.1rem;
}

.workspace .table-empty-message > * {
    font-size: 30px !important;
}

.table-empty-message {
    margin: 10vw 1em;
    text-align: center;
}

.workspace-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.workspace-container > * {
    margin: 0 4vw;
}
.workspace .toolbox {
    position: sticky;
    top: 5em;
    max-height: 25em;
    display: flex;
    flex-direction: column;
}

.workspace .toolbox > * {
    margin: 1em;
    min-width: 200px;
}
